<config.xml version="1">
    <top_cell_view>
        <lib>Adder</lib>
        <cell>AND</cell>
        <view>schematic</view>
    </top_cell_view>
    <stop_list>abstract layout</stop_list>
    <view_search_list>abstract layout schematic</view_search_list>
    <constraint_vsl>constraint</constraint_vsl>
    <view_name_groups/>
    <library_search_list>%PLACED</library_search_list>
    <lib_open_list></lib_open_list>
    <cell_open_list></cell_open_list>
    <property_binding_name>lxUseCell</property_binding_name>
    <overlay_view_name></overlay_view_name>
    <ignore_name_list>nlAction lvsIgnore lxIgnore</ignore_name_list>
    <remove_name_list>lxRemoveDevice</remove_name_list>
</config.xml>
