configuration (  
        master_exec_path = "/DCNFS/applications/synopsys/2019/app/icvalidator/Q-2019.12-SP1-1/bin/LINUX64_L31el/icv_master",
        slave_exec_path = "/DCNFS/applications/synopsys/2019/app/icvalidator/Q-2019.12-SP1-1/bin/LINUX64_L31el/icv_slave",
        engine_exec_path = "/DCNFS/applications/synopsys/2019/app/icvalidator/Q-2019.12-SP1-1/bin/LINUX64_L31el/icv_engine",
        working_directory = "/DCNFS/users/student/mpang/ELEN153/synopsys_custom/pvjob_lab4.XNOR.icv.drc",
        run_details_directory = "/DCNFS/users/student/mpang/ELEN153/synopsys_custom/pvjob_lab4.XNOR.icv.drc/run_details",
        group_directory = "/DCNFS/users/student/mpang/ELEN153/synopsys_custom/pvjob_lab4.XNOR.icv.drc/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { linux400512.dc.engr.scu.edu, ""},
                 { linux400512.dc.engr.scu.edu, ""},
                 }
);
